<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/teacher_designs/css/refresher.css" />
    <link rel="icon" href="/logos/logo.png" type="image/x-icon">
    <!--Poppins-->
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <!--Poppins-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Teacher | Refresher Courses</title>
    <script>
      $(document).ready(function(){
        $(".profile .icon_wrap").click(function(){
          $(this).parent().toggleClass("active");
          $(".notifications").removeClass("active");
        });
      });
    </script>
  </head>
  <body id="body">
    <div class="container"> <!--div closed at end-->
      <nav class="navbar">
        <a href="/teacher/dashboard"><img id="logo" src="/logos/newlogo.png" alt="logo"  style="width: 140px; margin-left: 10px ; "></a>
        
        <div class="navbar_right">
          <div class="profile">
            <div class="icon_wrap">
                <span style="font-size: 1.2em;">Welcome : &emsp; </span>
              <img src={{user.profile_picture}} alt="profile_pic">
              <span class="number">{{user.designation}} :</span><span class="name">{{user.name}}</span>
              <i class="fas fa-chevron-down"></i>
            </div>
    
            <div class="profile_dd" >
              <ul class="profile_ul" style=" list-style-type: none;">
                <li class="profile_li"><a class="profile"><span class="picon"><i class="fas fa-cog"></i>
                    </span>Settings</a>
                    <a href="/logout" style="text-decoration: none;"><div class="btn">Logout</div></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
   


      <main id="home">
        <div class="main__container">          
          <div class="main__cards">
            <div class="card" id="heading">
              <div class="card_inner"> 
                <h1>REFRESHERS COURSES</h1>
              </div>            
            </div>
          </div>
        </div>

        <div class="charts"> 
          <div class="charts__left">            
            <div class="charts__left__cards">
              <div class="coursebox">
                <div class="title">Add Details</div>
                <div class="form">
                  <form enctype="multipart/form-data" action="/teacher/addCourse" method="POST" onsubmit="return confirm('Proceed to add Course?');">
                    <div class="inputfield">
                      <label>Name </label>
                      <input type="text" class="input" placeholder="specify the event name" name="name" required>
                    </div>
                    
                    <div class="inputfield">
                      <label>Type</label>
                      <input type="text" class="input" value="Refresher Course" name="type" required readonly>        
                    </div> 
                      
                    <div class="inputfield">
                      <label>Topic dealt</label>
                      <input type="text" class="input" placeholder="Topic" name="topic" required>
                    </div>  
                  
                    <div class="inputfield">
                      <label>Date</label>
                      <input type="date" class="input" name="date" id="datePicker" required>
                    </div>
                    
                    <div class="inputfield">
                      <label>Number of days</label>
                      <input type="text" class="input" placeholder="Total Days" name="total_days" required>
                    </div> 
                    
                    <div class="inputfield">
                      <label>Attach Certificate/invitation</label>
                      <input type="file"  class="input" required accept="application/pdf" name="certificate">  
                    </div>
                    <div class="inputfield">
                      <input type="submit" value="Add" class="btn">
                    </div>
                  </form>
                  {{#if message}}
                    <h4 style="color: red;">{{message}}</h4>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>        
          
          <div class="charts__right">            
            <div class="charts__right__cards">
              <table>
                <tr id="header">
                  <th>Name</th>
                  <th>Topic Dealt</th>
                  <th>Date</th>
                  <th>Number of days</th>
                  <th>Attached file</th>  
                </tr>
                {{#each data}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.topic}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.total_days}}</td>
                    <td><a href="{{this.certificate}}" style="text-decoration: none; color: black;">View</a></td>
                  </tr>
                  {{/each}}
              </table>
            </div>
          </div>
        </div>
      </main>
    </div><!--dont delete main container div end-->
    
    {{!-- -------------------------Scripts------------------ --}}
    
    <script src="/teacher_designs/js/scripts.js"></script>

    <script type="text/javascript">
      datePicker.max = new Date().toISOString().split("T")[0];
    </script>
  </body>
</html>
