<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/teacher_designs/css/requests.css" />
    <link rel="icon" href="/logos/logo.png" type="image/x-icon">
    <!--Poppins-->
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <!--Poppins-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Teacher | Application & Requests</title>
    <script>
      $(document).ready(function(){
        $(".profile .icon_wrap").click(function(){
          $(this).parent().toggleClass("active");
          $(".notifications").removeClass("active");
        });
      });
    </script>
  </head>
  <body id="body">
    <div class="container"> <!--div closed at end-->
      <nav class="navbar">
        <a href="/teacher/dashboard"><img id="logo" src="/logos/newlogo.png" alt="logo"  style="width: 140px; margin-left: 10px ; "></a>
        
        <div class="navbar_right">
          <div class="profile">
            <div class="icon_wrap">
                <span style="font-size: 1.2em;">Welcome : &emsp; </span>
              <img src={{user.profile_picture}} alt="profile_pic">
              <span class="number">{{user.designation}} :</span><span class="name">{{user.name}}</span>
              <i class="fas fa-chevron-down"></i>
            </div>
    
            <div class="profile_dd" >
              <ul class="profile_ul" style=" list-style-type: none;">
                <li class="profile_li"><a class="profile"><span class="picon"><i class="fas fa-cog"></i>
                    </span>Settings</a>
                    <a href="/logout" style="text-decoration: none;"><div class="btn">Logout</div></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <main id="home">
        <div class="main__container">          
          <div class="main__cards">
            <div class="card" id="heading">
              <div class="card_inner"> 
                  <h1>Application & Requests</h1>
                </div>            
              </div>
            </div>
          </div>

          <div class="charts"> 
            <div class="charts__left">            
                <div class="charts__left__cards">
                  <div class="coursebox">
                    <div class="title">Select application</div>
                      <div class="form">
                        <div class="inputfield">
                          <div class="custom_select">
                            <select id="req_select">
                              <option value="" selected disabled hidden>Select</option>
                              <option value="Application 1">Application 1</option>
                              <option value="Application 2">Application 2</option>
                            </select>
                          </div>
                        </div> 
                      </div>
                  </div>

                  <table>
                    <tr id="header">
                      <th>Applied Certifcates</th>
                      <th>Application Status</th>
                      <th>Application On</th>
                    </tr>
                    {{#each data}}
                    <tr>
                      <td>{{this.request_for}}</td>
                      <td>{{this.status}}</td>
                      <td>{{this.applied_on}}</td>
                    </tr>
                    {{/each}}
                  </table>
                </div>
            </div>        
            
            <div class="charts__right">            
              <div class="charts__right__cards">
                <div class="coursebox">
                  <div class="title"> Application REQUEST </div>
                  <div class="form">
                    <form enctype="multipart/form-data" action="/teacher/apply" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
                      <div class="inputfield">
                        <label>Request For</label>
                        <input type="text" class="input" name="request" readonly required id="req_for" >
                      </div>
          
                      <div class="inputfield">
                        <label>Name</label>
                        <input type="text" class="input" readonly value={{user.name}} >
                      </div>  
          
                      <div class="inputfield">
                          <label>Designation</label>
                          <input type="text" class="input" readonly value={{user.designation}} >
                      </div>
                        
                      <div class="inputfield">
                        <label>Mobile number</label>
                        <input type="number" class="input" value={{user.phone}} readonly>
                      </div>
          
                      <div class="inputfield">
                        <label>Email</label>
                        <input type="email" class="input" value={{user.email}} readonly>
                      </div>
          
                      <div class="inputfield">
                        <label>College & division</label>
                        <input type="text" class="input" value="School of Engineering, Division Computer Science & Engineering" readonly>
                      </div> 
          
                      <div class="inputfield">
                        <label>Date of Joining</label>
                        <input type="text" class="input" value={{user.year_of_joining}} readonly>
                      </div>
          
                      <div class="inputfield">
                        <label><b>Permanent address</b></label>
                      </div>
          
                      <div class="inputfield">
                        <label>Address Line 1</label>
                        <input type="text"  class="input"  readonly name="address" value={{user.address}} required>
                      </div>
                      
                      <div class="inputfield">
                        <label>Address Line 2</label>
                        <input  type="text" class="input"  name="post" readonly value={{user.post}} required>
                      </div>
                      
                      <div class="inputfield">
                        <label>District</label>
                        <input type="text"  class="input"  name="district" readonly value={{user.district}} required>
                      </div>
                      
                      <div class="inputfield">
                        <label>State/Union territory</label>
                        <input type="text"  class="input"  name="state" readonly value={{user.state}} required>
                      </div>
                      
                      <div class="inputfield">
                        <label>Pin Code</label>
                        <input type="text"  class="input"  name="pincode" readonly value={{user.pincode}} required>
                      </div>
                    
                      <div class="inputfield" >
                        <label>Purpose of Certificate</label>
                        <input type="text" class="input" name="purpose" placeholder="Enter your purpose here" required >
                      </div>
                    
                      <div class="inputfield">
                        <label>Attach files</label>
                        <input type="file" class="input" name="certificate" accept="application/pdf" required>
                      </div> 
                    
                      <div class="inputfield">
                        <input type="submit" value="Submit" class="btn">
                      </div>
                    </form>

                    {{#if message}}
                      <h4 style="color: red;">{{message}}</h4>
                    {{/if}}
                  </div>
                </div>   
              </div>
            </div>
          </div>
      </main>
    </div><!--dont delete main container div end-->

    {{!-- -----------------------------Scripts------------------- --}}
    
    <script src="/teacher_designs/js/scripts.js"></script>

    <script type="text/javascript">
      $('#req_select').change(function(){
        var req = $(this).val().trim()
        if(req!=''){
          document.getElementById("req_for").value = req;
        }
      })
    </script>
  </body>
</html>
